<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-12" *ngFor="let announement of incidentAnnouncement" >
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">{{announement.date}}</h4>
                        <p class="card-category">{{announement.title}}</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="d-flex">
                                    <th class="col-1">
                                        ID
                                    </th>
                                    <th class="col-3">
                                        Συμβάν
                                    </th>
                                    <th class="col-2">
                                        Ημερομηνία
                                    </th>
                                    <th class="col-2">
                                        Συνεργασία με Συνήγορο του Πολίτη
                                    </th>
                                    <th class="col-2">
                                        Εκτιμώμενος χρόνος ολοκλήρωσης
                                    </th>
                                    <th class="col-2">
                                        tags
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let incident of announement.list; let i = index;" class="d-flex">
                                        <td class="col-1">
                                            {{i}}
                                        </td>
                                        <td class="col-3">
                                            {{incident.name}}
                                        </td>
                                        <td class="col-2">
                                            {{incident.investigationStartDate}}
                                        </td>
                                        <td class="col-2">
                                            {{incident.sinigoros}}
                                        </td>
                                        <td class="col-2">
                                            {{incident.ETA}}
                                        </td>
                                        <td class="col-2">
                                            {{incident?.tags?.join('#')}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-md-12" *ngFor="let announement of incidentAnnouncement">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <!-- <h4 class="card-title mt-0">{{announement.date}}</h4>
                        <p class="card-category">{{announement.title}}</p> -->
                        <h4 class="card-title ">{{announement.title}}</h4>
                        <div class="card-category">
                            <div class="float-left">
                                {{announement.date | date : 'dd MMMM yyyy': undefined : 'el'}}
                            </div>
                            <div class="float-right">
                                ({{announement.list.length || 0}})
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="d-flex">
                                    <th class="col-1" style="border-bottom: 1px solid black">
                                        ID
                                    </th>
                                    <th class="col-3" style="border-bottom: 1px solid black">
                                        Συμβάν
                                    </th>
                                    <th class="col-2" style="border-bottom: 1px solid black">
                                        Ημερομηνία
                                    </th>
                                    <th class="col-2" style="border-bottom: 1px solid black">
                                        Συνεργασία με Συνήγορο του Πολίτη
                                    </th>
                                    <th class="col-2" style="border-bottom: 1px solid black">
                                        Εκτιμώμενος χρόνος ολοκλήρωσης
                                    </th>
                                    <th class="col-2" style="border-bottom: 1px solid black">
                                        tags
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let incident of announement.list; let i = index;" class="d-flex">
                                        <td class="col-1">
                                            {{i}}
                                        </td>
                                        <td class="col-3">
                                            {{incident.name}}
                                        </td>
                                        <td class="col-2">
                                            {{incident.investigationStartDate | date : 'dd MMMM yyyy' : undefined :
                                            'el'}}
                                        </td>
                                        <td class="col-2">
                                            {{incident.sinigoros}}
                                        </td>
                                        <td class="col-2">
                                            {{incident.ETA}}
                                        </td>
                                        <td class="col-2">
                                            {{incident?.tags?.join('#')}}
                                        </td>
                                    </tr>
                                </tbody>
                                <!-- <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td class="text-primary">
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td class="text-primary">
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td class="text-primary">
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td class="text-primary">
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td class="text-primary">
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td class="text-primary">
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td>
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td>
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td>
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td>
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td>
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td>
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>